.card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  border-radius: 8px;
}

.name {
  font-weight: bold;
  flex: 1;
}

.online {
  color: green;
  font-weight: 600;
}

.offline {
  color: red;
  font-weight: 600;
}
